<div class=" center jumbotron">
  <h1 class="display-4">Writer's Delight</h1>
  <p class="lead">Publish your passions, your way.</p>
  <hr class="my-4">
  <p>Create a unique and beautiful blog. It’s easy and free.</p>
  <%= link_to "Sign up",signup_path, class: "btn btn-primary btn-lg btn-custom" %>
</div>